@import url("https://fonts.googleapis.com/css2?family=Frijole&family=Merienda+One&family=Mochiy+Pop+One&family=Niconne&family=Pacifico&family=Poppins&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #001d3d;
}

.text-logo {
  color: #ffc300;
  font-family: "Mochiy Pop One", cursive;
  font-size: 70px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .text-logo {
    font-size: 35px;
  }
}

.welcome-text {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: 33px;
  text-align: center;
}
@media (max-width: 767px) {
  .welcome-text {
    font-size: 17px;
  }
}

.aws {
  color: #ffd60a;
  font-weight: bold;
}

.container {
  width: 70%;
  margin: 0 auto;
  background-color: #0f084b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 90%;
    margin-bottom: 90px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 90%;
    height: 80%;
    margin-bottom: 90px;
  }
}

.first-slide {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .first-slide {
    margin-top: 80px;
  }
}

.input-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.username-input {
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 450px;
  min-height: 45px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.username-input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  text-align: center;
}
.username-input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  text-align: center;
}
.username-input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  text-align: center;
}
@media (max-width: 767px) {
  .username-input::-moz-placeholder {
    font-size: 15px;
  }
  .username-input:-ms-input-placeholder {
    font-size: 15px;
  }
  .username-input::placeholder {
    font-size: 15px;
  }
}
.username-input:focus {
  border: 6px solid #ffc300;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .username-input {
    min-width: 250px;
    min-height: 35px;
    margin-top: 28px;
    margin-bottom: 10px;
  }
}

.btn {
  color: #0f084b;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: bold;
  min-width: 200px;
  min-height: 40px;
  border-radius: 20px;
  margin-bottom: 100px;
  background-color: #ffd60a;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btn:hover {
  cursor: pointer;
  background-color: #f8961e;
  transition: 0.7s;
}
@media (max-width: 767px) {
  .btn {
    min-width: 100px;
    min-height: 35px;
    font-size: 15px;
  }
}

.quiz-app {
  display: none;
  color: white;
  justify-content: space-between;
  align-self: center;
  margin: 25px 150px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
@media (min-width: 768px) and (max-width: 991px) {
  .quiz-app {
    font-size: 18px;
    margin-left: 40px;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .quiz-app {
    font-size: 14px;
    margin-left: 30px;
    flex-direction: column;
    gap: 5px;
  }
}

.quiz-info {
  display: none;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.quiz-question {
  margin: 70px 30px 25px;
  padding: 8px 10px;
  color: #0f084b;
  background-color: #ffd60a;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media (min-width: 768px) and (max-width: 991px) {
  .quiz-question {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .quiz-question {
    font-size: 15px;
  }
}

.answers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 70px;
}

#answer-1 {
  min-width: 500px;
  min-height: 65px;
  margin-bottom: 15px;
  border-radius: 15px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #0f084b;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media (min-width: 768px) and (max-width: 991px) {
  #answer-1 {
    min-width: 450px;
    min-height: 55px;
  }
}
@media (max-width: 767px) {
  #answer-1 {
    font-size: 14px;
    min-width: 250px;
    min-height: 55px;
  }
}
#answer-1:hover {
  cursor: pointer;
  background-color: #ffbf69;
  transition: 0.7s;
}

.answer-1 {
  margin-right: 25px;
}

#answer-2 {
  min-width: 500px;
  min-height: 65px;
  margin-bottom: 15px;
  border-radius: 15px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #0f084b;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media (min-width: 768px) and (max-width: 991px) {
  #answer-2 {
    min-width: 450px;
    min-height: 55px;
  }
}
@media (max-width: 767px) {
  #answer-2 {
    font-size: 14px;
    min-width: 250px;
    min-height: 55px;
  }
}
#answer-2:hover {
  cursor: pointer;
  background-color: #ffbf69;
  transition: 0.7s;
}

#answer-3 {
  min-width: 500px;
  min-height: 65px;
  margin-bottom: 15px;
  border-radius: 15px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #0f084b;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media (min-width: 768px) and (max-width: 991px) {
  #answer-3 {
    min-width: 450px;
    min-height: 55px;
  }
}
@media (max-width: 767px) {
  #answer-3 {
    font-size: 14px;
    min-width: 250px;
    min-height: 55px;
  }
}
#answer-3:hover {
  cursor: pointer;
  background-color: #ffbf69;
  transition: 0.7s;
}

.answer-3 {
  margin-right: 25px;
}

#answer-4 {
  min-width: 500px;
  min-height: 65px;
  margin-bottom: 15px;
  border-radius: 15px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #0f084b;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media (min-width: 768px) and (max-width: 991px) {
  #answer-4 {
    min-width: 450px;
    min-height: 55px;
  }
}
@media (max-width: 767px) {
  #answer-4 {
    font-size: 14px;
    min-width: 250px;
    min-height: 55px;
  }
}
#answer-4:hover {
  cursor: pointer;
  background-color: #ffbf69;
  transition: 0.7s;
}

.next-btn {
  color: #0f084b;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  font-weight: bold;
  min-width: 200px;
  min-height: 40px;
  border-radius: 20px;
  display: none;
  text-align: center;
  margin: auto;
  background-color: #ffd60a;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-bottom: 70px;
  min-height: 60px;
  font-size: 23px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .next-btn {
    min-height: 59px;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .next-btn {
    min-height: 45px;
    font-size: 18px;
  }
}
.next-btn:hover {
  cursor: pointer;
  background-color: #f8961e;
  transition: 0.7s;
}

#chevron {
  display: none;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 10px;
}
@media (max-width: 767px) {
  #chevron {
    font-size: 18px;
  }
}

#empty-input {
  color: white;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}/*# sourceMappingURL=style.css.map */