@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Merienda+One&family=Mochiy+Pop+One&family=Niconne&family=Pacifico&family=Poppins&family=Shrikhand&display=swap');

$primary-color: #0f084b;
$secondary-color: #ffc300;
$tertiary-color: #001d3d;
$text-color: white;
$aws-clor: #ffd60a;
$font-logo: 'Mochiy Pop One', cursive;
$font-text: 'Poppins', sans-serif;
$text-size-button: 19px;
$important-text: bold;
$margin-top: 33px;
$logo-size: 70px;
$padding-input: 15px;
$box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

@mixin logo {
    color: $secondary-color;
    font-family: $font-logo;
    font-size: $logo-size;
    font-weight: $important-text;
}

@mixin button {
    color: $primary-color;
    font-family: $font-text;
    font-size: $text-size-button;
    font-weight: $important-text;
    min-width: 200px;
    min-height: 40px;
    border-radius: 20px;
}

@mixin breakpoints($point){
    @if $point == mobile {
        @media (max-width: 767px) {
            @content;
        }
    } @else if $point == tablet {
        @media (min-width: 768px) and (max-width: 991px){
            @content;
        }
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $tertiary-color;
}

.text-logo{
    @include logo;
    display: flex;
    justify-content: center;
    @include breakpoints(mobile){
        font-size: 35px;
    }
}

.welcome-text{
    color: $text-color;
    font-family: $font-text;
    margin-top: $margin-top;
    text-align: center;
    @include breakpoints(mobile){
        font-size: 17px;
    }
}

.aws{
    color: $aws-clor;
    font-weight: $important-text;
}

.container{
    width: 70%;
    margin: 0 auto;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    @include breakpoints(tablet){
        width: 90%;
    }
    @include breakpoints(mobile){
        width: 90%;
        height: 70vh;
    }
}
.first-slide{
    margin-top: 10px;
    @include breakpoints(mobile){
        margin-top: 80px;
    }
}

.input-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username-input{
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 450px;
    min-height: 45px;
    padding: $padding-input;
    border-radius: 20px;
    box-shadow: $box-shadow;

    &::placeholder{
        font-family: $font-text;
        font-size: $text-size-button;
        text-align: center;
        @include breakpoints(mobile){
            font-size: 15px;
        }
    }

    &:focus{
        border: 6px solid $secondary-color;
        border-radius: 20px;
    }
    @include breakpoints(mobile){
        min-width: 250px;
        min-height: 35px;
        margin-top: 28px;
        margin-bottom: 10px;
    }
}

.btn{
    @include button;
    margin-bottom: 100px;
    background-color: $aws-clor;
    box-shadow: $box-shadow;

    &:hover{
        cursor: pointer;
        background-color: #f8961e;
        transition: 0.7s;
    }
    @include breakpoints(mobile){
        min-width: 100px;
        min-height: 35px;
        font-size: 15px;
    }
}

.quiz-app{
    display: none;
    color: $text-color;
    justify-content: space-between;
    align-self: center;
    margin: 25px 150px 0px ;
    font-family: $font-text;
    font-weight: $important-text;
}

.quiz-info{
    display: none;
    font-family: $font-text;
    text-align: center;
}

.quiz-question{
    margin: 70px 30px 25px;
    color: $primary-color;
    background-color: $aws-clor;
    font-weight: $important-text;
    border-radius: 20px;
    box-shadow: $box-shadow;
}

.answers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 70px;
}

@for $i from 1 through 4 {
    #answer-#{$i}{
        min-width: 450px;
        min-height: 65px;
        margin-bottom: 15px;
        border-radius: 15px;
        font-weight: $important-text;
        font-family: $font-text;
        font-size: 18px;
        font-weight: $important-text;
        color: $primary-color;
        box-shadow: $box-shadow;

        &:hover{
            cursor: pointer;
            background-color: #ffbf69;
            transition: 0.7s;
        }
    }
    @if $i%2 != 0{
        .answer-#{$i}{
            margin-right: 25px;
        }
    }
}

.next-btn{
    @include button;
    display: none;
    text-align: center;
    margin: auto;
    background-color: $aws-clor;
    box-shadow: $box-shadow;
    margin-bottom: 70px;
    min-height: 60px;
    font-size: 23px;

    &:hover{
        cursor: pointer;
        background-color: #f8961e;
        transition: 0.7s;
    }
}

#chevron{
    display: none;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10px;
}
